<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Tienda{% endblock %}</title>

    <!-- Estilos comunes -->
    <link rel="stylesheet" href="{{ asset('css/estilos_comunes.css') }}">

    <!-- Estilos específicos de la página -->
    {% block css %}{% endblock %}
</head>
<body>
    
    <footer class="footer">
        <p>© 2024 Revolution. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
